:root {
    --palin-red: #ED1C24;
    --navbar-height: 120px;
}

@font-face {
    font-family: frontPageNue;
    src: url(../fonts/front-page-neue/FrontPageNeue.otf);
}

@font-face {
    font-family: carson;
    src: url(../fonts/carson-font/Carson-wVRx.ttf);
}

#navigation-bar {
    height: var(--navbar-height);
    background-color: white;
    font-size: 2.4em;
    font-family: carson;
    font-weight: bold;
}

#navbar-logo {
    width: 4.5em;
}

.hero-section-container {
    background-color: var(--palin-red);
}

.hero-section {
    height: calc(100vh - var(--navbar-height));
    min-height: 800px;
    /* max-width: 60%; */
}

.hero-section-headshot {
    height: 700px;
    width: auto;
}