:root {
    --palin-red: #ED1C24;
    --pastel-red: #d35050;
    --pastel-blue: #6281c6;
    --navbar-height: 120px;
    --navbar-height-mobile: 60px;
}

@font-face {
    font-family: frontPageNue;
    src: url(../fonts/front-page-neue/FrontPageNeue.otf);
}

@font-face {
    font-family: carson;
    src: url(../fonts/carson-font/Carson-wVRx.ttf);
}

#navigation-bar {
    height: var(--navbar-height);
    background-color: white;
    font-size: 2.4em;
    font-family: carson;
    font-weight: bold;

    position: fixed; 
    z-index: 9999;
    -webkit-box-shadow: 0px 3px 3px 2px rgba(31,31,31,0.63);
    -moz-box-shadow: 0px 3px 3px 2px rgba(31,31,31,0.63);
    box-shadow: 0px 3px 3px 2px rgba(31,31,31,0.63);
}

#navbar-logo {
    height: 100%;
}

.hero-section-container {
    background-color: var(--palin-red);
    height: 100vh;
}

.hero-section {
    height: 100vh;
}

#hero-section-headshot {
    max-height: 820px;
    width: auto;
}

.donate-card {
    font-size: 2.4em;
}

.hero-section-content {
    min-height: calc(100vh - var(--navbar-height));
    flex-flow: column;
}

.hero-section-blue {
    background-color: var(--pastel-blue);
    color: white;
}

.content-title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: arial;
    /* display: inline-block; */

    font-weight: bold;
}

.content-title:after {
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 0.07em solid var(--palin-red);
    margin-top: -10px;
}

/* Tynamic Duo Section */

.duo-bios-container {
    flex-flow: column; 
    min-height: calc(100vh - var(--navbar-height));
    background-color: #6281c6; 
    background-image: url('../images/denali.jpg');
    background-size: cover;
    color: white;
}

.duo-bios-body-container {
    justify-content: center;
    flex: 1;
    position: relative;
}

.duo-bios {
    margin: 0 17% 0 17%;
    width: 100%;
    font-size: 2rem;
    justify-content: space-around;
}

.duo-bios .card {
    color: black;
    max-width: 700px;
    background-color: rgb(255,255,255, 0.5);
}

.duo-bios p {
    font-size: 1.7rem;
    opacity: 1;
}

.half-portrait {
    max-height: 100%;
    position: absolute;
    /* bottom: 0; */
}

.half-portrait-left {
    left: 0;
}

.half-portrait-right {
    right: 0;
}

/* Important Issues Section */

.carousel {
    margin: auto 0 auto 0;
    height: 600px;

    background-color: white;
    border: 1px rgb(202, 202, 202) solid;
    border-radius: 4px;

    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
}

.carousel-header {
    margin-top: 10px;
}

.arrow {
    height: 50px;
    width: 50px;
}

.prev-icon {
    background-image: url("../images/prev-arrow.svg");
}

.next-icon {
    background-image: url("../images/next-arrow.svg");
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.carousel-headshot {
    margin: 30px 0px 30px 0px;
    max-height: 250px;
    border-radius: 50%;
    background-color: var(--pastel-red);
}

.carousel-issue-title {
    font-weight: bold;
}

.carousel-issue-body {
    font-size: 1.1rem;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators li.active {
    background-color: var(--palin-red);
}

.carousel-inner {
    margin-bottom: 50px;
}

.deep-container {
    min-height: calc(100vh - var(--navbar-height));
    background-color: rgb(242,242,242);
    background-size: cover;
}

.deep-card {
    text-align: center;
    padding: 20px 0 20px 0;
}

.deep-card img {
    margin: 0 auto 0 auto;
    max-height: 225px;
}

.deep-card a {
    font-size: 2rem;
    color: var(--palin-red);
}

/***********************************/

@media(max-width: 768px) {
    #navigation-bar {
        height: var(--navbar-height-mobile);
    }

    .hero-section-content {
        min-height: calc(100vh - var(--navbar-height-mobile));
    }

    .content-title {
        font-size: 3rem;
    }

    .content-title:after {
        width: 86%;
        margin: -1px auto 0 auto;
    }

    .duo-bios-container {
        min-height: calc(100vh - var(--navbar-height-mobile));
    }

    .duo-bios {
        margin: 0 2% 0 2%;
    }

    .duo-bios p {
        font-size: 1.3rem;
    }

    .carousel {
        height: 450px;
        margin: 30px 0 30px 0;
    }

    .carousel-headshot {
        margin: 15px 0 10px 0;
    }

    .carousel-control-prev {
        margin-left: 3%;
    }

    .carousel-control-next {
        margin-right: 3%;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 15%;
    }

    .deep-card {
        margin: 10px 0 10px 0;
    }

    .deep-card img {
        height: 100px;
        /* width: auto; */
    }

    .deep-card h1 {
        font-size: 2rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 0.7rem;
    }

    .duo-bios img {
        background-color: white;
        border-radius: 50%;
    }
}