:root {
    --palin-red: #ED1C24;
    --navbar-height: 120px;
}

@font-face {
    font-family: frontPageNue;
    src: url(../fonts/front-page-neue/FrontPageNeue.otf);
}

@font-face {
    font-family: carson;
    src: url(../fonts/carson-font/Carson-wVRx.ttf);
}

#navigation-bar {
    height: var(--navbar-height);
    background-color: white;
    font-size: 2.4em;
    font-family: carson;
    font-weight: bold;
}

#navbar-logo {
    width: 4.5em;
}

.hero-section-container {
    background-color: var(--palin-red);
}

.hero-section {
    height: calc(100vh - var(--navbar-height));
    min-height: 800px;
    /* max-width: 60%; */
}

#hero-section-headshot {
    margin-top: 300px;
    height: 1000px;
    width: auto;
}

.donate-card {
    font-size: 2.4em;
}

.hero-section-content {
    height: 100vh;
}

.content-title {
    margin-top: 20px;
    font-size: 4.4em;
}

.content-title:after {
    content: "";
    position: absolute;
    width: 97%;
    height: 0px;
    bottom: 0;
    left: 1.4%;
    border-bottom: 0.1em solid var(--palin-red);
}

.carousel {
    margin-top: 50px;
    min-height: 600px;

    background-color: #e0e0e0;
    border: 1px black solid;

    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
}

.arrow {
    height: 20px;
    width: 20px;
}

.prev-icon {
    background-image: url("../images/iconfinder_icon-ios7-arrow-back_211686.png");
}

.next-icon {
    background-image: url("../images/iconfinder_icon-ios7-arrow-forward_211688.png");
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.carousel-headshot {
    margin: 40px 0px 40px 0px;
    max-height: 250px;
    border-radius: 50%;
    background-color: white;
}