:root {
    --palin-red: #ED1C24;
    --pastel-red: #d35050;
    --pastel-blue: #6281c6;
    --navbar-height: 120px;
    --navbar-height-mobile: 60px;
}

@font-face {
    font-family: frontPageNue;
    src: url(../fonts/front-page-neue/FrontPageNeue.otf);
}

@font-face {
    font-family: carson;
    src: url(../fonts/carson-font/Carson-wVRx.ttf);
}

#navigation-bar {
    height: var(--navbar-height);
    background-color: white;
    font-size: 2.4em;
    font-family: carson;
    font-weight: bold;

    position: fixed; 
    z-index: 9999;
    -webkit-box-shadow: 0px 3px 3px 3px rgba(31,31,31,0.63);
    -moz-box-shadow: 0px 3px 3px 3px rgba(31,31,31,0.63);
    box-shadow: 0px 3px 3px 3px rgba(31,31,31,0.63);
}

#navbar-logo {
    height: 100%;
}

.hero-section-container {
    background-color: var(--palin-red);
}

.hero-section {
    height: 100vh;
    min-height: 800px;
}

#hero-section-headshot {
    height: 820px;
    width: auto;
}

.donate-card {
    font-size: 2.4em;
}

.hero-section-content {
    min-height: calc(100vh - var(--navbar-height));
    flex-flow: column;
}

.hero-section-blue {
    background-color: var(--pastel-blue);
    color: white;
}

.content-title {
    margin-top: 20px;
    font-family: arial;
    display: inline-block;
    max-width: 100%;
}

.content-title:after {
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 0.07em solid var(--palin-red);
    margin-top: -10px;
}

/* Tynamic Duo Section */

.duo-bios-container {
    flex-flow: column; 
    min-height: calc(100vh - var(--navbar-height));
    background-color: #6281c6; 
    color: white;
}

.duo-bios-body-container {
    justify-content: center;
    flex: 1;
    position: relative;
}

.duo-bios {
    margin: 0 17% 0 17%;
    width: 100%;
    font-size: 2rem;
    justify-content: space-around;
}

.duo-bios .card {
    color: white;
    border: 1px red;
    max-width: 700px;
    background-color: transparent;
}

.duo-bios p {
    font-size: 1.7rem;
}

.half-portrait {
    max-height: 100%;
    position: absolute;
    /* bottom: 0; */
}

.half-portrait-left {
    left: 0;
}

.half-portrait-right {
    right: 0;
}

/* Important Issues Section */

.carousel {
    margin: auto 0 auto 0;
    height: 600px;

    background-color: white;
    border: 1px rgb(202, 202, 202) solid;
    border-radius: 4px;

    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
}

.arrow {
    height: 50px;
    width: 50px;
}

.prev-icon {
    background-image: url("../images/prev-arrow.svg");
}

.next-icon {
    background-image: url("../images/next-arrow.svg");
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.carousel-headshot {
    margin: 40px 0px 40px 0px;
    max-height: 250px;
    border-radius: 50%;
    background-color: var(--pastel-red);
}

.carousel-issue-title {
    font-weight: bold;
}

.carousel-issue-body {
    font-size: 1.1rem;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators li.active {
    background-color: var(--palin-red);
}

.carousel-inner {
    margin-bottom: 50px;
}

/***********************************/

@media(max-width: 768px) {
    #navigation-bar {
        height: var(--navbar-height-mobile);
    }

    .hero-section-content {
        min-height: calc(100vh - var(--navbar-height-mobile));
    }

    .content-title {
        margin-top: 20px;
        font-family: arial;
        display: inline-block;
        flex: 0 0 auto;
        max-width: 100%;

        font-size: 3rem;
    }

    .content-title:after {
        content: "";
        display: block;
        width: 100%;
        bottom: 0;
        border-bottom: 0.07em solid var(--palin-red);
        margin-top: -5px;
    }

    .duo-bios-container {
        min-height: calc(100vh - var(--navbar-height-mobile));
    }

    .duo-bios {
        margin: 0 2% 0 2%;
    }

    .duo-bios p {
        font-size: 1.3rem;
    }

    .carousel {
        height: 450px;
    }

    .carousel-headshot {
        margin: 15px 0 10px 0;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 20%;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 0.7rem;
    }

    .duo-bios img {
        background-color: white;
        border-radius: 50%;
    }
}