:root {
    --palin-red: #ED1C24;
    --pastel-red: #d35050;
    --pastel-blue: #6281c6;
    --navbar-height: 115px;
    --navbar-height-mobile: 10vh;
}

@font-face {
    font-family: frontPageNue;
    src: url(../fonts/front-page-neue/FrontPageNeue.otf);
}

@font-face {
    font-family: carson;
    src: url(../fonts/carson-font/Carson-wVRx.ttf);
}

#navigation-bar {
    height: var(--navbar-height);
    min-height: 100px;
    background-color: white;
    font-size: 2.4em;
    font-family: carson;
    font-weight: bold;
    top: 0;

    position: fixed; 
    z-index: 9999;
    -webkit-box-shadow: 0px 3px 3px 2px rgba(31,31,31,0.63);
    -moz-box-shadow: 0px 3px 3px 2px rgba(31,31,31,0.63);
    box-shadow: 0px 3px 3px 2px rgba(31,31,31,0.63);
}

#navbar-logo {
    position: absolute;
    left: 0;
    right: 0;
    height: 80%;
}

.navbar-donate-button {
    background-color: var(--palin-red); 
    position: absolute; 
    right: 0; 
    margin-right: 20px;
}

.navbar-donate-link {
    color: white;
    font-family: arial;
    font-size: 35px;
}

.splash-section-fluid-container {
    margin-top: var(--navbar-height);
    background-color: var(--palin-red);
    min-height: 849px;
    height: calc(100vh - var(--navbar-height));
}

.hero-section-container {
    
    margin-top: var(--navbar-height);
}

.splash-section-palin {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
    max-width: 93%;
    max-height: 100%;
    /* min-width: 700px; */
    /* position: absolute; */
}

.splash-section-logo {
    max-height: 100%;
    max-width: 100%;
    min-width: 700px;
}

.hero-section {
    height: 100vh;
}

#hero-section-headshot {
    max-height: 820px;
    width: auto;
}

.donate-card {
    font-size: 2.4em;
    width: 80%;
}

.content-title {
    margin-bottom: 0px;
    font-family: arial;
    z-index: 100;

    font-weight: bold;
}

.content-title::after {
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 0.07em solid var(--palin-red);
    margin-top: 0px;
}

/* Tynamic Duo Section */

.duo-bios-container {
    position: relative;
    padding: 20px 0 0 0;
    flex-flow: column; 
    min-height: calc(100vh - var(--navbar-height));
    color: white;
}

.duo-bios-container::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/denali-min.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

.duo-bios-body-container {
    justify-content: center;
    flex: 1;
    position: relative;
}

.duo-bios {
    margin: 0 17% 0 17%;
    width: 100%;
    font-size: 2rem;
    justify-content: space-around;
}

.duo-bios .card {
    color: black;
    max-width: 700px;
    border: 1px solid grey;
    background-color: rgb(255,255,255, 0.9);

    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.75);
}

.duo-bios .card-title {
    font-weight: bold;
}

.duo-bios p {
    font-size: 1.7rem;
    opacity: 1;
}

.half-portrait {
    max-height: 100%;
    position: absolute;
}

.half-portrait-left {
    left: 0;
}

.half-portrait-right {
    right: 0;
}

/* Important Issues Section */

.issues-section-container {
    min-height: calc(100vh - var(--navbar-height));
    flex-flow: column;
    padding-top: 20px;
}

.carousel {
    margin: auto 0 auto 0;
    height: 600px;

    background-color: white;
    border: 1px rgb(202, 202, 202) solid;
    border-radius: 4px;
    /* padding-top: 20px; */

    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
}

.arrow {
    height: 50px;
    width: 50px;
}

.prev-icon {
    background-image: url("../images/prev-arrow.svg");
}

.next-icon {
    background-image: url("../images/next-arrow.svg");
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.carousel-headshot {
    margin: 30px 0px 30px 0px;
    max-height: 250px;
    border-radius: 50%;
    background-color: var(--pastel-red);
}

.carousel-issue-title {
    font-size: 3.3rem;
    font-weight: bold;

    margin: 0 auto 0 auto;
}

.carousel-issue-body {
    font-size: 1.1rem;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators li.active {
    background-color: var(--palin-red);
}

.carousel-inner {
    /* margin: auto 0 auto 0; */
    margin: 20px 0 50px 0;
}

.deep-container {
    min-height: calc(100vh - var(--navbar-height));
    background-color: rgb(242,242,242);
    background-size: cover;
    padding: 20px 0 0px 0;
}

.deep-card {
    text-align: center;
    padding: 20px 0 20px 0;
}

.deep-card img {
    margin: 0 auto 0 auto;
    max-height: 225px;
}

.deep-card a {
    font-size: 2rem;
    color: var(--palin-red);
}

.error-page-container {
    height: calc(100vh - var(--navbar-height));
    margin-top: var(--navbar-height);
    padding-top: 20px;
    background-color: white;
}

.error-page-image-container {
    flex: 1 1 auto; 
    position: relative;
}

.error-page-image {
    max-height: 100%;
    /* height: 100%; */
    min-height: 200px;
    width: 100%; 
    object-fit: contain;
    transform: scaleX(-1);
}

.error-page-message {
    margin: auto 0 auto 0;
}

.error-page-button, .donate-button {
    background-color: var(--palin-red);
    margin: auto 0 auto 0;
}

.error-page-link, .donate-link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.error-page-link:visited, .donate-link:visited {
    color: white;
}

.donate-box {
    margin: 50px 0 50px 0;
    height: 50vh;
    background-image: url('../images/Try.png');
    background-size: 100% auto;
    background-position: right;
    background-repeat: no-repeat;
    background-color: black;
}

.donate-button {
    display: inline;
}

.donate-link {
    font-size: 3rem;
    font-weight: bold;
}

.donate-link:hover, .navbar-donate-link:hover {
    text-decoration: none;
    color: white;
}

.donate-pipe {
    height: 100%; 
    width: 5px; 
    background-color: red;
}

.donate-text > * {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.donate-text > h1 {
    font-size: 3.8rem;
}

.footer {
    margin: 50px 0 50px 0;
    height: 50vh;
}

.footer img {
    width: 100%;
}

.footer-pipe {
    width: 3px;
    height: 100%;
    background-color: black;
    margin-left: auto;
    /* border-right: 50% solid black; */
}

.footer a {
    font-size: 2rem;
    color: black;
    display: block;
    text-align: right;
}

/***********************************/
@media(max-height: 900px) {
    .carousel {
        margin: 30px 0 30px 0;
    }
}

@media(max-width: 768px) {
    #navigation-bar {
        height: var(--navbar-height-mobile);
        min-height: 32px;
    }

    .navbar-donate-button {
        margin-right: 10px;
    }

    .navbar-donate-link {
        font-size: 18px;
    }

    .splash-section-fluid-container {
        margin-top: var(--navbar-height-mobile);
        min-height: auto;
        height: calc(100vh - var(--navbar-height-mobile));
    }

    .splash-columns {
        height: 50%;
    }

    .hero-section-container {
        margin-top: var(--navbar-height-mobile);
        min-height: calc(100vh - var(--navbar-height-mobile));
    }

    .content-title {
        font-size: 3rem;
        /* 2.07rem */
    }

    .content-title::after {
        width: 86%;
        margin: 4px auto 0 auto;
    }

    .duo-bios-container {
        min-height: calc(100vh - var(--navbar-height-mobile));
    }

    .duo-bios {
        margin: 0 2% 0 2%;
    }

    .duo-bios p {
        font-size: 1.3rem;
    }

    .issues-section-container {
        min-height: calc(70vh - var(--navbar-height-mobile));
    }

    .carousel {
        margin: 30px 0 30px 0;
        height: 450px;
        width: 100%;
    }

    .carousel-issue-title {
        font-size: 2.7rem;
    }

    .carousel-headshot {
        margin: 15px 0 10px 0;
    }

    .carousel-control-prev {
        margin-left: 3%;
    }

    .carousel-control-next {
        margin-right: 3%;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 15%;
    }

    .deep-container {
        min-height: calc(70vh - var(--navbar-height-mobile));
    }

    .deep-card-container {
        margin: 30px 0 30px 0;
    }

    .deep-card {
        margin: 10px 0 10px 0;
    }

    .deep-card img {
        height: 100px;
    }

    .deep-card h1 {
        font-size: 2rem;
    }

    .error-page-container {
        height: calc(100vh - var(--navbar-height-mobile));
        margin-top: var(--navbar-height-mobile);
    }

    .error-page-image {
        /* height: 60%; */
    }

    .error-page-message, .error-page-button {
        margin: 20px 0 20px 0;
    }

    .donate-link {
        font-size: 2.2rem;
    }

    .footer a {
        font-size: 1.5rem;
    }
}

@media(max-width: 330px) {
    .carousel {
        margin: 30px 0 30px 0;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 0.7rem;
    }

    .splash-columns {
        height: 50%;
    }

    .duo-bios img {
        background-color: white;
        border-radius: 50%;
    }

    .donate-box {
        background-size: auto 100%;
    }
}